   :root {
  --jaune: #FFC400;
  --bleu: #0B3D91;
  --bleu-fonce: #082C6B;
  --bleu-clair: #1554C4;
  --blanc: #FFFFFF;
}
/* =========================
   VEHICLE FILTER
========================= */

.vehicle-filter{
    width:100%;
    background:#fff;
    border-radius:18px;
    padding:40px;
    margin:40px 0;
    box-shadow:0 8px 30px rgba(0,0,0,.08);

    border:1px solid #ececec;

}

.vehicle-filter h3{

    text-align:center;
    margin-bottom:25px;

    font-size:28px;
    font-weight:700;

    color:#0f172a;

}


/* =========================
   GRID
========================= */

.vehicle-grid{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:18px;

}


/* =========================
   SELECT
========================= */

.vehicle-grid select{

    width:100%;

    height:55px;

    border:2px solid #dbe3ea;

    border-radius:12px;

    padding:0 15px;

    background:#fff;

    font-size:15px;

    outline:none;

    transition:.3s;

    cursor:pointer;

}


.vehicle-grid select:hover{

    border-color:#0d6efd;

}


.vehicle-grid select:focus{

    border-color:#0d6efd;

    box-shadow:0 0 0 4px rgba(13,110,253,.15);

}


/* =========================
   BUTTON
========================= */

.btn-search-vehicle{

    margin:30px auto 0;

    display:block;

    width:260px;

    height:55px;

    border:none;

    border-radius:14px;

    background: var(--jaune);

    color:#fff;

    font-size:17px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}


.btn-search-vehicle:hover{

    background:#0b5ed7;

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(13,110,253,.35);

}


.btn-search-vehicle:active{

    transform:scale(.98);

}
/* Carburant centré */
.fuel-select {
    grid-column: 2 / 4;
}


/* =========================
   TABLET
========================= */

@media(max-width:992px){

.vehicle-grid{

    grid-template-columns:
    repeat(2,1fr);

}

.vehicle-filter{

    padding:25px;

}

}


/* =========================
   MOBILE
========================= */

@media(max-width:768px){

.vehicle-grid{

    grid-template-columns:1fr;

}

.vehicle-filter{

    padding:20px;

    border-radius:15px;

}

.vehicle-filter h3{

    font-size:22px;

}

.btn-search-vehicle{

    width:100%;

}
.fuel-select {
    grid-column: auto;
}

}


/* =========================
   SMALL MOBILE
========================= */

@media(max-width:480px){

.vehicle-filter{

    padding:18px;

}

.vehicle-grid select{

    height:50px;

    font-size:14px;

}

.btn-search-vehicle{
    height:50px;

    font-size:16px;

}

}